@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    section {
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.397);
    padding: 20px;
    padding-top: 32px;
    width: 400px;
    }
}

@media screen and (min-width: 992px) {
    section {
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.397);
    padding: 20px;
    padding-top: 32px;
    width: 500px;
    }
}